{% extends 'front/base.html.twig' %}

{% block title %}
	{{ parent()}}Panier!
{% endblock %}

{% block body %}
	<main>
		<h1>Panier</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Total</th>
					<th>Action</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			{% for data in dataCart %}
				<tr>
					<td>{{ data.product.name }}</td>
					<td>{{ data.product.price }}</td>
					<td>{{ data.quantity }}</td>
					<td>{{ data.total }}</td>
					<td>
						<a href={{ path('front_cart_add', { 'id': data.product.id} )}} class="btn btn-success">+</a>

						<a href={{ path('front_cart_decrease', { 'id': data.product.id} )}} class="btn btn-warning">-</a>
					</td>
					<td>
						<a href={{ path('front_cart_remove', { 'id': data.product.id} )}} class="btn btn-danger">Supprimer</a>
						{# Quand j'appuye sur supprimer ça supprime toute les données pour ce produit #}
					</td>
				</tr>
			{% endfor %}
			<tr>
				<td colspan="4">Total</td>
				<td>{{ total }}
					euros</td>
				<td>
					<a href={{ path('front_cart_empty') }}>Vider le panier</a>
				</td>
			</tr>
		</table>

		<a href={{ path('front_order_index')}}>Commander</a>
	</main>
{% endblock %}


{# Order #}
{# customer #}
{# quantity #}

{# OrderItem #}


{# 1 | 6786786GHJG | 05/08/2024 | customer | total #}

{#  1 | 12 | 4 |  1 |  price #}
